In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from pandas import Series, DataFrame
from ipywidgets import FloatProgress
from time import sleep
from IPython.display import display
import re
import pickle
from urlextract import URLExtract
import json
import sqlite3

In [8]:
d2=pd.read_csv('Men_Null.csv')

In [10]:
d2.isnull().sum()

Product            0
Link               0
Brand              5
Size Available     0
Selling Price      0
MRP                0
Gender             0
Description        0
Primary_Image      1
Secondary_Image    0
dtype: int64

In [11]:
d1=pd.read_csv('All_Null_SC.csv')

In [12]:
d1.shape

(9060, 10)

In [13]:
d2=d2.drop(columns='Gender',axis=1)

In [14]:
d1=d1.drop(columns='Gender',axis=1)

In [15]:
for i  in d2.Link.values:
    index_names = d1[ d1['Link'] == i ].index
    d1.drop(index_names, inplace = True)

In [16]:
d1['Gender']='Women'
d2['Gender']='Men'

In [17]:
d=d1.append(d2)

In [18]:
d.isnull().sum()

Product             0
Link                0
Brand              19
Size Available      0
Selling Price       0
MRP                 0
Description         0
Primary_Image      10
Secondary_Image     4
Gender              0
dtype: int64

In [19]:
data=pd.read_csv('All_SC.csv')

In [20]:
data.shape

(23216, 10)

In [21]:
data=data.dropna()

In [22]:
data=data.append(d)

In [24]:
data.shape

(23114, 10)

In [25]:
data.to_csv("All_Shopclues.csv",index=False)

In [26]:
import sqlite3
#from pandas import DataFrame

conn = sqlite3.connect('All_ShopClues.db')
c = conn.cursor()

c.execute('CREATE TABLE products (Product,Link,Brand,Size Available,Selling Price,MRP,Gender,Description,Primary_Image,Secondary_Image)')
conn.commit()

data.to_sql('products', conn, if_exists='replace', index = False)
conn.close

C:\Users\alokt\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [50]:
new=pd.read_csv('All_Shopclues.csv')

In [51]:
new.shape

(23114, 10)

In [52]:
new.isnull().sum()

Product             0
Link                0
Brand              19
Size Available      0
Selling Price       0
MRP                 0
Gender              0
Description         0
Primary_Image      10
Secondary_Image     4
dtype: int64

In [53]:
new=new.dropna()

In [54]:
int(new['Selling Price'][0][1:])

247

In [56]:
len(new['Selling Price'])

23082

In [72]:
sell=[]
for i in range(len(new['Selling Price'])):
    sell.append(int(re.sub("\D",'',new['Selling Price'].values[i])))

23082

In [74]:
mrp=[]
for i in range(len(new['MRP'])):
    mrp.append(int(re.sub("\D",'',new['MRP'].values[i])))

In [75]:
new['Selling Price']=sell
new['MRP']=mrp

In [77]:
new.head()

,Product,Link,Brand,Size Available,Selling Price,MRP,Gender,Description,Primary_Image,Secondary_Image
0,Sunshopping men's multicolor leatherite needle...,https://www.shopclues.com/sunshopping-mens-mul...,Sunshopping,"28 , 30 , 32 , 34 , 36 , 38",247,599,Men,Buy [product _name] Online at Best Prices from...,https://cdn.shopclues.com/images1/detailed/909...,https://cdn.shopclues.com/images1/detailed/909...
1,Sunshopping men's brown leatherite needle pin ...,https://www.shopclues.com/sunshopping-mens-bro...,Sunshopping,"28 , 30 , 32 , 36",171,499,Men,Buy [product _name] Online at Best Prices from...,https://cdn.shopclues.com/images1/detailed/890...,https://cdn.shopclues.com/images1/detailed/890...
2,UNU New Stylish Leather Strap 0060 Watch Gor B...,https://www.shopclues.com/unu-new-stylish-leat...,Unu,Not Available,152,999,Men,Buy UNU New Stylish Leather Strap 0060 Watch G...,https://cdn.shopclues.com/images1/detailed/968...,Not Available
3,Knoos Men Synthetic Leather Loafers,https://www.shopclues.com/knoos-men-synthetic-...,Knoos,9,427,1045,Men,Buy Knoos Men Synthetic Leather Loafers online...,https://cdn.shopclues.com/images/detailed/7901...,https://cdn.shopclues.com/images/detailed/7901...
4,Sunshopping Men's Brown Leatherite Auto Lock B...,https://www.shopclues.com/sunshopping-mens-bro...,Sunshopping,"28 , 30 , 32 , 34 , 36 , 38",266,599,Men,Buy [product _name] Online at Best Prices from...,https://cdn.shopclues.com/images1/detailed/971...,https://cdn.shopclues.com/images1/detailed/971...

In [79]:
data_1=pd.DataFrame({
    
    "Website":'https://www.shopclues.com/',
    "Product_Link":new['Link'].values,
    "Product_Name":new['Product'].values,
    "Product_Brand":new['Brand'].values,
    "Size_Avail":new['Size Available'].values,
    "Price":new['Selling Price'].values,
    "MRP":new['MRP'].values,
    "Gender":new['Gender'].values,
    "Description":new['Description'].values,
    "Primary_Image_Links":new['Primary_Image'].values,
    "Secondary_Image_Links":new['Secondary_Image'].values,
    "Affiliate_Link":''
    
})

In [80]:
import sqlite3
#from pandas import DataFrame

conn = sqlite3.connect('ShopC.db')
c = conn.cursor()

c.execute('CREATE TABLE product_details (Website varchar(40) not null,Product_Link text PRIMARY KEY,Product_Name varchar(50) not null,Product_Brand varchar(50) not null,Size_Avail varchar(20) not null,Price int not null,MRP int not null,Gender varchar(15) not null,Description text not null,Primary_Image_Links text not null,Secondary_Image_Links text not null,Affiliate_Link text not null )')


data_1.to_sql('product_details', conn, if_exists='replace', index = False)    
conn.commit()
conn.close